<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand goTop" href="#">{{@blog.title}}</a>
            <div class="nav-collapse pull-right">
                <ul class="nav">

                    {{#foreach navigation}}
                        <li class="nav-{{slug}} {{#if current}}active{{/if}}" role="presentation"><a href="{{url absolute="true"}}">{{label}}</a></li>
                    {{/foreach}}

                    <!--<li class="active"><a href="index.html">Home</a></li>-->
                    <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages  <b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="about.html">About Us</a></li>-->
                            <!--<li><a href="services.html">Services</a></li>-->
                            <!--<li><a href="price.html">Price</a></li>-->
                            <!--<li><a href="login.html">Login</a></li>-->
                            <!--<li><a href="register.html">Register</a></li>-->
                            <!--<li><a href="faq.html">F.A.Q.</a></li>-->
                            <!--<li><a href="contacts.html">Contact</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="blog-right.html">Blog right sidebar</a></li>-->
                            <!--<li><a href="blog-left.html">Blog left sidebar</a></li>-->
                            <!--<li><a href="blog-full.html">Blog full</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="blog-single.html">Blog single one</a></li>-->
                            <!--<li><a href="blog-single2.html">Blog single two</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery <b class="caret"></b></a>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="works.html">Simple gallery</a></li>-->
                            <!--<li><a href="works2.html">With text</a></li>-->
                            <!--<li><a href="works3.html">With filter</a></li>-->
                            <!--<li class="divider"></li>-->
                            <!--<li><a href="works-single.html">Single project</a></li>-->
                        <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a href="shortcodes.html">Shortcodes</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
    </div>
</div>