{{!< default}}




<div class="parallax" style="background-image: url(images/bg1.jpg);">
    <div class="text">
        <h1>{{split post.title separator="/" index=0}}</h1>
        <p>{{split post.title separator="/" index=1}}</p>
    </div>
</div>



<section class="text-block">
    <div class="light-bg">
        <div class="container">
            {{!<h2 class="with-border">Blog
                <small class="color">/ write something</small>
            </h2>}}
            <div class="row-fluid">
            <div class="span9">
                <ul class="thumbnails">

                    {{> "loop"}}

                </ul>


                {{pagination}}

            </div>
            <div class="span3">
                <form class="form">
                    <div class="controls controls-row search-row">
                        <input class="input-block-level" type="text" placeholder="Search">
                        <button class="btn" type="button"><i class="icon-search"></i></button>
                    </div>
                </form>
                <article>
                    <h4 class="with-border">Categories</h4>
                    <ul class="unstyled link-list">
                        <li class=""><a href="#"><i class="icon-chevron-right"></i> Design</a></li>
                        <li class=""><a href="#"><i class="icon-chevron-right"></i> Development</a></li>
                        <li class=""><a href="#"><i class="icon-chevron-right"></i> Usability</a></li>
                        <li class=""><a href="#"><i class="icon-chevron-right"></i> Support</a></li>
                        <li class=""><a href="#"><i class="icon-chevron-right"></i> Advertisement</a></li>
                    </ul>
                </article>
                <article class="section">
                    <h4 class="with-border">Tags</h4>
                    <ul class="unstyled">
                        <a href="#" class="tag btn btn-primary">Web</a>
                        <a href="#" class="tag btn btn-primary">Games</a>
                        <a href="#" class="tag btn btn-primary">Design</a>
                        <a href="#" class="tag btn btn-primary">3D</a>
                        <a href="#" class="tag btn btn-primary">jQuery</a>
                        <a href="#" class="tag btn btn-primary">C++</a>
                        <a href="#" class="tag btn btn-primary">Bootstrap</a>
                        <a href="#" class="tag btn btn-primary">Google</a>
                        <a href="#" class="tag btn btn-primary">JavaScript</a>
                    </ul>
                </article>
                <article class="section">
                    <h4 class="with-border">Featured video</h4>

                    <div class="videoWrapper">
                        <iframe src="http://player.vimeo.com/video/20596477?color=39ae77" frameborder="0" webkitallowfullscreen
                                mozallowfullscreen allowfullscreen></iframe>
                    </div>
                </article>
                <article class="section">
                    <h4 class="with-border">Popular Photos</h4>
                    <ul class="footer-thumbnails unstyled clearfix">
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                        <li class="stream">
                            <a href="#">
                                <img src="http://dummyimage.com/45x45/243135/fff" alt="">
                            </a>
                        </li>
                    </ul>
                </article>
                <article class="section">
                    <h4 class="with-border">Recent Comments</h4>
                    <ul class="media-list">
                        <li class="media comments">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="images/team.jpg">
                            </a>

                            <div class="media-body">
                                <h5>
                                    <a href="#">Rick</a>
                                    in
                                    <a href="#">Lorem ipsum dolor sit amet</a>
                                </h5>

                                <p>In ante dui, pharetra vestibulum massa vel, gravida commodo diam. Ut vulputate egestas odio ac
                                    blandit...</p>
                            </div>
                        </li>
                        <li class="media comments">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="images/team2.jpg">
                            </a>

                            <div class="media-body">
                                <h5>
                                    <a href="#">Admin</a>
                                    in
                                    <a href="#">Aenean ac interdum ligula</a>
                                </h5>

                                <p>In varius eros nibh, sed euismod dolor congue vel. Sed auctor aliquet velit, gravida pharetra
                                    turpis fermentum ut...</p>
                            </div>
                        </li>
                        <li class="media comments">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="images/team3.jpg">
                            </a>

                            <div class="media-body">
                                <h5>
                                    <a href="#">Andrew</a>
                                    in
                                    <a href="#">Nam mattis enim eu nibh facilisis sollicitudin</a>
                                </h5>

                                <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus...</p>
                            </div>
                        </li>
                    </ul>
                </article>
                <article class="section">
                    <h4 class="with-border">Text Widget</h4>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ac interdum ligula. Nullam iaculis dictum
                        ullamcorper. In vitae pellentesque massa. Vivamus viverra libero dapibus, sodales lectus a, consectetur
                        ante. </p>
                </article>
            </div>
            </div>
        </div>
    </div>
</section>